<h1>Sudoku</h1>
<a href="#" data-reveal-id="myModal">How To Play</a>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>How to play Sudoku</h2>
  <p>
Simply fill in the blank spaces with the numbers 1 – 9. Every row, column and 3 x 3 box must contain all nine digits with no number repeated. Click your mouse in one of the squares to insert a number and click again to change. You can type in 5 practice numbers in the top of each box above the dashed line using your keyboard.</p>

<p>The Sudoku puzzle consists of 81 squares divided into nine 3 x 3 blocks. Some of the squares already have numbers in them.</p>

<p>To solve a Sudoku puzzle you have to use the numbers 1-9 to fill in the blank spaces so that each row, each column and each 3 x 3 square has all the numbers 1-9 appearing once. Some puzzles are quite simple to solve while others are very tricky.</p>

<p>The only thing you need to solve a Sudoku number place puzzle is logic. You don’t need any mathematical knowledge. In the easier puzzles you may be able to see straight away where a particular number goes. Focusing on one particular blank square at a time, scan its row, column & block.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="flash">
    <%= flash[:notice] %>
</div>
<div id="sudoku">
  <form action="/" method="post">
    <% 3.times do |row| %>
      <div class='row'>
        <% 3.times do |box| %>
          <div class="box">
            <% 3.times do |cell_row| %>
              <div class="cell-row">
                <% 3.times do |cell| %>
                  <%= partial :cell, :locals => {:cell_index => row * 27 + box * 3 + cell_row * 9 + cell} %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <button>Check solution</button>
    <button name="save" value="true">Save Game</button>
    <button name="reset" value="true">Reset Game</button>
  </form>
</div>
<form action="/solution" method="get"><button>Show Solution</button></form>
</div>

<h3>New Game</h3>
  <form action="/set" method="post">
    <button name="difficulty" value="easy">Easy Puzzle</button>
    <button name="difficulty" value="medium">Medium Puzzle</button>
    <button name="difficulty" value="hard">Hard Puzzle</button>
  </form>

<div>
Tyler Rollins
</div>

