<h1>Sudoku</h1>
<a href="#" data-reveal-id="myModal">Need some help?</a>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Sorry, your shit out of luck.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Also, I have no idea how to play sudoku</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="flash">
    <%= flash[:notice] %>
</div>
<div id="sudoku">
  <form action="/" method="post">
    <% 3.times do |row| %>
      <div class='row'>
        <% 3.times do |box| %>
          <div class="box">
            <% 3.times do |cell_row| %>
              <div class="cell-row">
                <% 3.times do |cell| %>
                  <%= partial :cell, :locals => {:cell_index => row * 27 + box * 3 + cell_row * 9 + cell} %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <button class="button">Check solution</button>
  </form>

</div>

